<div id="footer">
    <div class="container">
        <p>版权所有 © 2012 mrwlwan#gmail.com</p>
        <p>浏览器支持: <a class="icon-firefox" href="http://www.mozilla.org/en-US/firefox/new/" target="_blank" title="Firefox"></a><a class="icon-chrome" href="https://www.google.com/chrome" target="_blank" title="Chrome"></a><a class="icon-safari" href="http://www.apple.com.cn/safari/" target="_blank" title="Safari"></a><a class="icon-opera" href="http://www.opera.com/" target="_blank" title="Opera"></a></p>
        <p>Powered by: <a href="http://www.tornadoweb.org" target="_blank">Tornado</a> + <a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a> + <a href="http://mootools.net/" target="_blank">Mootools</a> + <a href="http://lesscss.org" target="_blank">LESS</a></p>
    </div>
</div>
