<div id="head_banner" class="nav">
    <div class="container header">
        <h1>Ross Wan</h1>
        <em>Keep it simple and stupid!</em>
    </div>
    <div class="container contact">
        <a class="icon-rss" href="/rss" target="_blank"></a> 
        <a class="icon-wp" href="http://mrwlwan.wordpress.com" target="_blank"></a> 
        <a class="icon-tw" href="http://twitter.com/mrwlwan" target="_blank"></a> 
        <a class="icon-wb" href="http://www.weibo.com/mrwlwan" target="_blank"></a> 
    </div>
</div>
