{% extends 'base.html' %}
{% block content %}
<!--日志-->
<div class="block">
    <div class="header nav">
        <a href="/blog">All Posts</a>
        <h3>日志</h3>
    </div>
    <div class="content row">
    {% if blogs %}
        <div class="latest span5">
        {% module Template('modules/abstract.html', has_content=True, has_tags=False, item=blogs[0]) %}
        </div>
        <div class="list span3">
        {% for blog in blogs[1:] %}
            {% module Template('modules/abstract.html', has_content=False, has_tags=False, item=blog) %}
        {% end %}
        </div>
    {% end %}
    </div>
</div>
<!--资讯-->
<div class="block">
    <div class="header nav">
        <a href="/news">All Posts</a>
        <h3>资讯</h3>
    </div>
    <div class="content row">
    {% if newses %}
        <div class="latest span5">
        {% module Template('modules/abstract.html', has_content=True, has_tags=False, item=newses[0]) %}
        </div>
        <div class="list span3">
        {% for news in newses[1:] %}
            {% module Template('modules/abstract.html', has_content=False, has_tags=False, item=news) %}
        {% end %}
        </div>
    {% end %}
    </div>
</div>
<!--奇文-->
<div class="block">
    <div class="header nav">
        <a href="/remark">All Posts</a>
        <h3>奇文</h3>
    </div>
    <div class="content row">
    {% if remarks %}
        <div class="latest span5">
        {% module Template('modules/abstract.html', has_content=True, has_tags=False, item=remarks[0]) %}
        </div>
        <div class="list span3">
        {% for remark in remarks[1:] %}
            {% module Template('modules/abstract.html', has_content=False, has_tags=False, item=remark) %}
        {% end %}
        </div>
    {% end %}
    </div>
</div>
{% end %}
